<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="SwagLabTestSuite">
    <test verbose="2" preserve-order="true" name="C:/IntelliJAutomation/Cucumber/CucumberProject/SwagLab">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
              <class name="Runners.Run"/>
        </classes>
    </test>
</suite>